@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>CambiarClave</title>
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-4">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Cambiar Clave</h1>
                                <p class="mb-4">Por favor, cambia la contraseña temporal por una que puedas recordar y
                                    vuelve a iniciar sesión.</p>
                            </div>
                            <form class="user" action="@Url.Action("CambiarClave", "Acceso")" method="post">

                                <input class="form-control" type="hidden" name="idUsuario"
                                    value="@TempData["UsuarioID"]" />

                                <div class="form-group row">
                                    <div class="col-sm-9 mb-3 mb-sm-3 mx-auto text-center">
                                        <input type="password" class="form-control form-control-user text-center"
                                            id="exampleInputPassword" name="claveActual" value="@ViewData["vClaveActual"]"
                                            placeholder="Contraseña Actual">
                                    </div>
                                    <div class="col-sm-9 mb-3 mb-sm-3 mx-auto text-center">
                                        <input type="password" class="form-control form-control-user text-center"
                                            id="exampleInputPassword" name="claveNueva" placeholder="Nueva Contraseña">
                                    </div>
                                    <div class="col-sm-9 mb-3 mb-sm-0 mx-auto text-center">
                                        <input type="password" class="form-control form-control-user text-center"
                                            id="exampleRepeatPassword" name="claveConfirmar"
                                            placeholder="Repetir Nueva Contraseña">
                                    </div>
                                    @{
                                        if (ViewBag.Error != null)
                                        {
                                            <div class="col-sm-9 mb-3 mt-3 mb-sm-0 mx-auto text-center">
                                                <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
                                            </div>
                                        }
                                    }
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block col-sm-9 mx-auto">
                                    Cambiar Contraseña
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="@Url.Action("Index", "Acceso")">Volver a la página de inicio</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>