@model CapaEntidad.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegistroCliente</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Crear una cuenta</h1>
                            </div>
                            <form class="user" method="post" action="@Url.Action("RegistroCliente", "Acceso")">
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0 mx-auto">
                                        @Html.TextBoxFor(model => model.Correo, new { @class = "form-control", id="txtCorreo", placeholder = "Correo electrónico", Value = ViewData["Correo"], autocomplete="off" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0 mx-auto">
                                        @Html.PasswordFor(model => model.clave, new { @class = "form-control", id="exampleInputPassword", placeholder = "Contraseña", autocomplete="off" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 mx-auto">
                                        @Html.PasswordFor(model => model.confirmarClave, new { @class = "form-control", id="exampleRepeatPassword", placeholder = "Repetir Contraseña", autocomplete="off" })
                                    </div>
                                </div>
                                @{
                                    if (ViewBag.Error != null)
                                    {
                                        <div class="form-group row">
                                            <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
                                        </div>
                                    }
                                }
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Registrar Cuenta
                                </button>
                                <hr>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="@Url.Action("Index", "Acceso")">¿Ya tienes una cuenta? Inicia sesión!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="c:\users\loq\.nuget\packages\bootstrap\5.3.8\contentfiles\any\any\wwwroot\js\bootstrap.bundle.min.js"></script>
    <script src="c:\users\loq\.nuget\packages\bootstrap\5.3.8\contentfiles\any\any\wwwroot\js\bootstrap.bundle.js"></script>
    <script src="c:\users\loq\.nuget\packages\bootstrap\5.3.8\contentfiles\any\any\wwwroot\js\bootstrap.esm.min.js"></script>
    <script src="c:\users\loq\.nuget\packages\bootstrap\5.3.8\contentfiles\any\any\wwwroot\js\bootstrap.esm.js"></script>
    <script src="c:\users\loq\.nuget\packages\bootstrap\5.3.8\contentfiles\any\any\wwwroot\js\bootstrap.min.js"></script>
    <script src="c:\users\loq\.nuget\packages\bootstrap\5.3.8\contentfiles\any\any\wwwroot\js\bootstrap.js"></script>
    <script src="~/js/site.js"></script>

</body>
</html>
